.about {
    margin: 2em;
    &__heading {
        @include section-heading;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 674px) {
            flex-direction: column;
            align-items: center;
        }
        .section-1 {
            img {
                width: 300px;
            }
        }
        .section-2 {
            max-width: 400px;
            margin: 0 2em;
            @media only screen and (max-width: 674px) {
                margin: 0;
                text-align: center;
            }
            p {
                @include line-height;
                font-size: 1.2em;
                margin: 0;
            }
            h4 {
                font-family: 'Bad Script', sans-serif;
                font-size: 2em;
                margin: 0.5em 0;
            }
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            i {
                font-size: 3em;
                margin: 0.2em 0;
                margin-right: 0.5em;
            }
            @media only screen and (max-width: 674px) {
                justify-content: center;
                .skillList {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    i {
                        margin-right: 0;
                        padding: 10px;
                    }
                }
            }
        }
    }
}