.blog {
    margin: 3em 0;
    &__heading {
        @include section-heading;
        margin-bottom: 0;
    }
    .container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media only screen and (max-width: 710px) {
            flex-direction: column;
            align-items: center;
        }
        div {
            margin: 20px;
            width: 250px;
            @media only screen and (max-width: 945px) {
                width: 200px;
            }
            @media only screen and (max-width: 800px) {
                width: 175px;
            }
            @media only screen and (max-width: 710px) {
                width: 60%;
            }
            @media only screen and (max-width: 578px) {
                width: 100%;
                margin: 0;
                margin-bottom: 2em;
            }
            .text {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 100%;
                @media only screen and (max-width: 578px) {
                    width: 90%;
                }
                @include line-height;
            }
            img {
                width: 100%;
                display: flex;
                margin: 0 auto;
                &:hover {
                    filter: brightness(60%);
                    @include transition-time;
                }
            }
            h4 {
                .blog__title {
                    font-size: 1.4em;
                    color: $primary;
                    margin: 1em 0;
                    text-decoration: none;
                }
            }
            a {
                color: $primary;
                text-decoration: underline;
                &:hover {
                    color: darken($primary, 30%);
                    @include transition-time;
                }
            }
        }
        .blog__view-all-link {
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 0;
        }
    }
}