.designs {
    &__heading {
        @include section-heading;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .designs {
            &__button {
                transition: 1s ease all;
                box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.158);
                overflow: hidden;
                &:hover {
                    img {
                        transform: scale(1.1);
                        transition: 0.5s ease all;
                        filter: brightness(60%);
                    }
                }
                cursor: pointer;
                border: none;
                width: 300px;
                height: 300px;
                @media only screen and (max-width: 720px) {
                    width: 230px;
                    height: 230px;
                }
                @media only screen and (max-width: 578px) {
                    width: 33.33%;
                    height: 33.33%;
                }
                @media only screen and (max-width: 475px) {
                    width: 50%;
                    height: 50%;
                }
                padding: 0;
                margin: 0;
                img {
                    width: 100%;
                    height: 100%;
                    transform: scale(1.3);
                    transition: 0.5s ease all;
                }
            }
        }
    }
}