.homeNav {
    position: absolute;
    background-color: #fff;
    position: fixed;
    top: 62.5176px;
    @media only screen and (max-width: 801px) {
        top: 70px;
    }
    width: 100%;
    z-index: 6;
    ul {
        display: flex;
        margin: 0;
        @media only screen and (max-width: 1110px) {
            margin-left: 10px;
        }
        padding: 3px 0;
        li {
            list-style-type: none;
            a {
                margin-right: 5px;
                color: $primary;
                text-decoration: underline;
                &:hover {
                    color: darken($primary, 30%);
                    @include transition-time;
                }
            }
        }
    }
}