.closeIcon {
    cursor: pointer;
    color: white;
    background-color: $gray-100;
    &:hover {
        background-color: $gray-200;
        transition: 0.2s all;
    }
}

.modalBody {
    min-width: 200px;
    background-color: $primary;
    .modal-image {
        width: 100%;
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
}